<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>MyTutor</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="/stylesheets/style.css">
<link rel="icon" href="./images/icon.png" />
</head>
<body>
<div class="overlay">
  <div class="overlay__inner">
    <h1 class="overlay__title">
      Hey there, ready to skyrocket your IB score 
      <span class="text-gradient">past a fourty&nbsp;</span>?
    </h1>
    <!-- Description -->
    <p class="overlay__description">
      With MyTutor, you can benefit from the support of familiar faces. We understand the value of learning from those you already know. 
      <strong>That's why our platform connects you with peers who can provide the help you need.</strong>
    </p>
    
    <!-- Buttons -->
    <div class="overlay__btns">

      <button class="overlay__btn overlay__btn--colors">
        <a href="/register">Sign Up</a>
      </button>

      <button class="overlay__btn overlay__btn--transparent">
        <a id="login" href="/login">Log In</a>
      </button>
    </div>
  </div>
</div>
<!-- partial -->
  <script type="module" src="./script.js"></script>

</body>
</html>
