<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MyTutor</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./stylesheets/home.css" />
    <link rel="icon" href="./images/icon.png" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <body>
      <main>
        <nav class="main-menu">
          <img class="card-img" src="./images/mytutor.png" alt="MyTutor" />
          <ul>
            <li class="nav-item active">
              <b></b>
              <b></b>
              <a href="/">
                <i class="fa fa-house nav-icon"></i>
                <span class="nav-text">Home</span>
              </a>
            </li>

            <li class="nav-item">
              <b></b>
              <b></b>
              <a href="/favorites">
                <i class="fa fa-star nav-icon"></i>
                <span class="nav-text">Favorites</span>
              </a>
            </li>

            <li class="nav-item">
              <b></b>
              <b></b>
              <a href="/tutors">
                <i class="fa fa-book nav-icon"></i>
                <span class="nav-text">Tutors</span>
              </a>
            </li>

            <li class="nav-item">
              <b></b>
              <b></b>
              <a href="/schedule">
                <i class="fa fa-calendar-check nav-icon"></i>
                <span class="nav-text">Calendar</span>
              </a>
            </li>

            <li class="nav-item">
              <b></b>
              <b></b>
              <a href="/settings">
                <i class="fa fa-sliders nav-icon"></i>
                <span class="nav-text">Settings</span>
              </a>
            </li>
          </ul>
          <div class="logout">
            <nav class="nav nav-masthead justify-content-center float-md-end">
              <form action="/logout?_method=DELETE" method="POST">
                <button
                  class="nav-link fw-bold py-1 px-0 btn p=3 btn-dark text-white"
                  type="submit"
                >
                  Logout
                </button>
              </form>
            </nav>
          </div>
        </nav>

        <section class="content">
          <div class="left-content">
            <div class="subjects">
              <% const firstName = user.name.split(' ')[0]; %>
              <h1>Hello, <%= firstName %></h1>
              <div class="subjects-container">
                <a href="/maths" class="image-container img-one">
                  <img src="./images/maths_menu.jpg" alt="maths" />
                  <div class="overlay">
                    <h3>Maths</h3>
                  </div>
                </a>

                <a href="/economics" class="image-container img-two">
                  <img src="./images/econ_menu.jpeg" alt="economics" />
                  <div class="overlay">
                    <h3>Economics</h3>
                  </div>
                </a>

                <a href="/computerscience" class="image-container img-three">
                  <img src="./images/cs_menu.jpg" alt="computer science" />
                  <div class="overlay">
                    <h3>Computer Science</h3>
                  </div>
                </a>

                <a href="/chemistry" class="image-container img-four">
                  <img src="./images/chem_menu.jpg" alt="chemistry" />
                  <div class="overlay">
                    <h3>Chemistry</h3>
                  </div>
                </a>

                <a href="/physics" class="image-container img-five">
                  <img src="./images/physics_menu.jpg" alt="physics" />
                  <div class="overlay">
                    <h3>Physics</h3>
                  </div>
                </a>

                <a href="/biology" class="image-container img-six">
                  <img src="./images/biology_menu.jpg" alt="biology" />
                  <div class="overlay">
                    <h3>Biology</h3>
                  </div>
                </a>
              </div>
            </div>

            <div class="left-bottom">
              <div class="weekly-schedule">
                <h1>Upcoming Events</h1>
                <div class="calendar">
                  <div class="day-and-activity activity-one">
                    <div class="day">
                      <h1 class="activity_text"></h1>
                      <p class="activity_text"></p>
                    </div>
                    <div class="activity">
                      <h2 class="activity_text"></h2>
                      <div class="participants">
                        <img
                        src="/images/mytutorpfp.png"
                          style="--i: 1"
                          alt=""
                        />
                        <img
                        src="/images/mytutorpfp.png"
                          style="--i: 2"
                          alt=""
                        />
                        <img
                        src="/images/mytutorpfp.png"
                          style="--i: 3"
                          alt=""
                        />
                        <img
                        src="/images/mytutorpfp.png"
                          style="--i: 4"
                          alt=""
                        />
                      </div>
                    </div>
                    <button class="btn">Join</button>
                  </div>

                  <div class="day-and-activity activity-two">
                    <div class="day">
                      <h1 class="activity_text"></h1>
                      <p class="activity_text"></p>
                    </div>
                    <div class="activity">
                      <h2 class="activity_text"></h2>
                      <div class="participants">
                        <img
                          src="/images/mytutorpfp.png"
                          style="--i: 1"
                          alt=""
                        />
                        <img
                          src="/images/mytutorpfp.png"
                          style="--i: 2"
                          alt=""
                        />
                      </div>
                    </div>
                    <button class="btn">Join</button>
                  </div>

                  <div class="day-and-activity activity-three">
                    <div class="day">
                      <h1 class="activity_text"></h1>
                      <p class="activity_text"></p>
                    </div>
                    <div class="activity">
                      <h2 class="activity_text"></h2>
                      <div class="participants">
                        <img
                          src="/images/mytutorpfp.png"
                          style="--i: 1"
                          alt=""
                        />
                        <img
                          src="/images/mytutorpfp.png"
                          style="--i: 2"
                          alt=""
                        />
                        <img
                          src="/images/mytutorpfp.png"
                          style="--i: 3"
                          alt=""
                        />
                      </div>
                    </div>
                    <button class="btn">Join</button>
                  </div>

                  <div class="day-and-activity activity-four">
                    <div class="day">
                      <h1 class="activity_text"></h1>
                      <p class="activity_text"></p>
                    </div>
                    <div class="activity">
                      <h2 class="activity_text"></h2>
                      <div class="participants">
                        <img
                          src="/images/mytutorpfp.png"
                          style="--i: 1"
                          alt=""
                        />
                        <img
                          src="/images/mytutorpfp.png"
                          style="--i: 2"
                          alt=""
                        />
                        <img src="/images/mytutorpfp.png" alt="" />
                        <img
                          src="/images/mytutorpfp.png"
                          style="--i: 4"
                          alt=""
                        />
                        <img
                          src="/images/mytutorpfp.png"
                          style="--i: 5"
                          alt=""
                        />
                      </div>
                    </div>
                    <button class="btn">Join</button>
                  </div>
                </div>
              </div>

              <div class="suggested-tutors">
                <h1>Suggested Tutors</h1>
                <div class="suggested-tutors-container">
                  <div class="tutor-box box-one">
                    <h2>No Tutors Found!</h2>
                  </div>
                  <div class="tutor-box box-two">
                    <h3>No Tutors Found!</h3>
                  </div>
                  <div class="tutor-box box-three">
                    <h3>No Tutors Found!</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="right-content">
            <div class="announcements">
              <h1>Announcements</h1>
              <div class="card-container">
                <div class="card">
                  <div class="card-user-info">
                    <img src="/images/mytutorpfp.png" alt="profile card" />
                    <h2>MyTutor</h2>
                  </div>

                  <p>Schedule your first tutoring session!</p>
                </div>

                <div class="card card-two">
                  <div class="card-user-info">
                    <img src="/images/mytutorpfp.png" alt="profile card" />
                    <h2>MyTutor</h2>
                  </div>
                  <img
                    class="card-img"
                    src="./images/mytutor.png"
                    alt="MyTutor"
                  />
                  <p>Welcome to MyTutor!</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </body>
    <!-- partial -->
    <script src="./javascripts/home.js"></script>
  </body>
</html>
